
body {
    font-family: 'Do Hyeon', sans-serif;
}



.container {
    display: flex;
    justify-content: space-evenly;
    
  }

  .name-element {
      border: 4px solid black;
      padding: 20px;
      justify-content: center;
      margin-top: 100px;
  }

  .bio {
      margin: 75px;
      
  }

  .projects {
      display: flex;
      justify-content: space-evenly;
  }
  .project {
    border: 4px solid black;
    padding: 10px;
    color: green;
    justify-content: space-evenly;
    
   }

   footer {
       display: flex;
       justify-content: space-evenly;
       margin-top: 60px;
   }

   .git {
        color: green;
        border: 4px solid black;
        padding: 10px;
   }
